*,
*::before,
*::after {
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
}

ol,
ul {
    list-style:none;
}

* {
    margin: 0;
    padding: 0;
    --black: #000;
    --white: #ffff;
    --yellow: #F0A83E;
    --bond: #FBFAF6;
    --cafe: #3C2313;
    --gray: #8A8787;
    --gray-dark: #786960;

}

html {
    font-size: 62.5%;
}

body, html {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.5rem;
    font-weight: 400;
}

.header__section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    background: var(--black);
    color: var(--white);
    font-size: 1.2rem;
    padding: 0.4rem 9rem;
}

.header__text {
    font-size: 1rem;
}

.header__cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.header__button {
    color: var(--white);
    background:none;
    border:none;
    font-size: 1rem;
    font-weight: 400;
}

.header__button-icon {
    width: 0.6rem;
}

.header__navBar {
    background: var(--yellow);
    height: 6.2rem;
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 4rem;
}

.header__navBar-logo {
    height: 2.3rem;
}

.header__navBar-cont {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

ul.header__navBar-cont li {
    margin-left: 2rem;
}

.header__navBar-icon {
    height: 1.4rem;
}

.slider {
    height: 40.9rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("./assets/bowl-and-pet-daities-on-green-background 1.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.slider__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2rem;
}

.slider__title {
    width: 36.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 3rem;
    font-weight: 400;
    background-color: var(--white);
}

.slider__text {
    margin: 1.2rem 0;
    font-size: 1.6rem;
}

.slider__button {
    background-color: var(--yellow);
    padding: 1.5rem 2.3rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9.5rem 2.4rem;
}

.destacados__title {
    font-size: 4rem;
    margin: 0.951rem 0 2rem 0;
    font-weight: 700;
    margin-bottom: 4rem;
}

.destacados__type {
    display: flex;
    gap: 1.3rem;
    margin-bottom: 4.9rem;
}

.destacados__cards-container {
    display: flex;
    gap: 2rem;
}

.destacados__card {
    background-color: var(--bond);
    padding-bottom: 0.544rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    font-size: 1.5rem;
    font-weight: 500;
}

.product__price {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--yellow);
}

.contactenos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.8rem 0 7.5rem 0;
    height: 41.7rem;
}

.contactenos__title {
    justify-self: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.contactenos__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form__input{
    background-color: var(--cafe);
    width: 43rem;
    height: 4rem;
    border-radius: 1.5rem;
    padding: 1.5rem 1.4rem;
    border: none;
    color: var(--white);
    font-size: 0.9rem;
}

::placeholder {
    color: var(--white);
}

.form__send {
    margin-top: 4.1rem;
    display: flex;
    gap: 0.6rem;
}

.form__button-reset {
    background-color: var(--gray);
    width: 11rem;
    height: 3.4rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.form__button-send {
    background-color: var(--yellow);
    width: 11rem;
    height: 3.4rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--white);
    font-size: 1.6rem;
}

.subscribe {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow);
    padding: 1rem 4.7rem 1rem 2.3rem;
}

.subscribe__send-icon {
    width: 4rem;
}

.subscribe__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    margin-left: 0;
}

.subscribe__form-input {
    background-color: var(--white);
    width: 27.1rem;
    height: 4rem;
    border-radius: 1.5rem;
    padding: 1.5rem 1.4rem;
    border: none;
    color: var(--gray);
    font-size: 0.9rem;
}

.subscribe__form-input::placeholder {
    color: var(--gray);
}

.subscribe__form-button {
    background-color: var(--cafe);
    width: 7rem;
    height: 3.4rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--white);
    font-size: 0.9rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__section-contact {
    height: 28.4rem;
    background-color: var(--cafe);
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.footer__contact {
    display: flex;
    flex-direction: column;
}

.contact__container {
    display: flex;
    gap: 2rem 2.5rem;
    margin-bottom: 2rem;
}

.contact__icon--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    /*border: 4px solid var(--gray-dark);*/
}

.contact__icon {
    margin: 1.5rem;
}

.contact__info-title {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

.contact__info-subtitle {
    color: var(--gray);
    font-size: 1rem;
}

.footer__logo {
    justify-self: center;
    align-self: center;
}

.footer__derechos {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 700;
}

@media (min-width: 768px) {

}