* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0 8px 0 8px;
}

body h2 {
    margin-top: 19px;
}

.header {
    display: flex;
  }

hr {
    width: 100vw;
    border: 1px solid #000000;
}

  .header__logo {
    margin: 23px 8px 28px 0;
  }

.section1 {
      display: flex;
      align-items: center;
      justify-content: center;
    flex-direction: column;
  }

  .section1__h1 {
      align-self: center;
      height: 37px;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      margin: 21px 0 22px 0;
  }

  .section__p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
  }

section p {
      width: 100vw;
      margin: 15px 0 15px 0;
  }

  footer {
      height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 13px 0 8px 0
  }

